[Unit]
Description=IDRS docker-compose script
Wants=idrs-autoupdate.service
After=idrs-autoupdate.service

[Service]
User=digicre
WorkingDirectory=/home/digicre/idrs-slack
Environment="COMPOSE_HTTP_TIMEOUT=240"
ExecStartPre=-/usr/bin/docker-compose down
ExecStart=/usr/bin/docker-compose up
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
