[Unit]
Description=IDRS auto update script
Required=network.target
After=network.target network-online.target

[Service]
WorkingDirectory=/home/digicre/idrs-slack
ExecStart=/home/digicre/idrs-slack/autoupdate.sh
Type=oneshot
Restart=no

[Install]
WantedBy=network-online.target
