[Unit]
Description=IDRS auto update script
After=network.target

[Service]
WorkingDirectory=/home/digicre/idrs/idrs-slack
ExecStart=/home/digicre/idrs/idrs-slack/autoupdate.sh
Type=oneshot
Restart=on-failure

[Install]
WantedBy=multi-user.target
