[Unit]
Description=IDRS lock checker script
Wants=idrs-autoupdate.service
After=idrs-autoupdate.service

[Service]
User=digicre
WorkingDirectory=/home/digicre/idrs-slack
ExecStart=/usr/bin/docker run -t --rm -v /home/digicre/idrs-slack:/script --env-file /etc/environment --privileged idrs-python:0.1 /bin/bash -c "cd /script && pipenv run ./lockchecker.py"
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
