[Unit]
Description=IDRS auto update script
Required=network-online.target
After=network-online.target

[Service]
User=digicre
WorkingDirectory=/home/digicre/idrs-slack
ExecStart=/home/digicre/idrs-slack/autoupdate.sh
Type=oneshot
Restart=no

[Install]
WantedBy=network-online.target
