[Unit]
Description=IDRS e-ink display server script
Wants=idrs-autoupdate.service
After=idrs-autoupdate.service

[Service]
User=digicre
WorkingDirectory=/home/digicre/idrs-slack
ExecStart=/usr/bin/docker run --name epdserver -t --rm -v /home/digicre/idrs-slack:/script --env-file /etc/environment --privileged -p 8081:8081 idrs-python:0.1 /bin/bash -c "cd /script && pipenv run ./epdserver.py"
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
