[Unit]
Description=IDRS lock checker script
Wants=idrs-autoupdate.service
After=idrs-autoupdate.service

[Service]
WorkingDirectory=/home/digicre/idrs-slack
ExecStart=/usr/local/bin/pipenv run ./lockchecker.py
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
